.App {
    text-align: center;
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
}

.App-menu {
    left: 0;
    padding: 2rem 5rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.App-menu ul {
    display: flex;
}

.App-menu a {
    color: #fdfdfd;
    margin-right: 2.5rem;
}
